 {{> header}}
 <div class="body-artist">
  <div class="multiple-images">
    <h1 class="multiple-images-title">Select and upload your images</h1>

    <form action="{{url}}" method="post" enctype="multipart/form-data">
      <div class="input-group mb-3">
        <label class="input-group-text btn btn-warning" for="image">Upload Image</label>
        <input type="file" class="form-control" name="image" id="image" multiple/>
      </div>
      <button type="submit" class="btn btn-primary-see-detail mt-3">Upload</button>
    </form>
  </div>
</div>