h1 {
  color: red
}

.about-body, .register-body, .login-body {
  margin:auto;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-body form, .register-body form, .login-body form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}