<h1>This is about page</h1>

<p>Description</p>

<form action="" method="post">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input name="email" type="email" class="form-control" id="email">
  </div>
  <div class="mb-3">
    <label for="message">Message</label>
    <textarea name="message" class="form-control" id="message"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>