<div class="about-body">
  <h1>ABOUT MUSIC-CONTACT</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore sint cupiditate repellendus, ad officiis ullam? Iure consequuntur officia nostrum. Totam laudantium nobis quae corporis assumenda, itaque optio blanditiis ratione dolore.</p>

  <form action="" method="post">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input name="name" type="text" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input name="email" type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="message">Message</label>
      <textarea name="message" class="form-control" id="message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>